@media screen and (min-width: 880px) {
  .cases {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }
}
.cases__item {
  min-height: 288px;
}
@media screen and (max-width: 1439px) {
  .cases__item {
    min-height: 266px;
  }
}
@media screen and (min-width: 880px) {
  .cases__item {
    width: calc(33.3333333333% - 12px);
  }
}

@media screen and (max-width: 879px) {
  .swiper .cases__item {
    width: 100%;
    max-width: 344px;
  }
}

.cases__item:visibile:nth-child(n+7) {
  display: none;
}
.cases--filtered[data-filtered-by=red] .cases__item:not([data-case-category=red]) {
  display: none;
}
.cases--filtered[data-filtered-by=orange] .cases__item:not([data-case-category=orange]) {
  display: none;
}
.cases--filtered[data-filtered-by=yellow] .cases__item:not([data-case-category=yellow]) {
  display: none;
}
.cases--filtered[data-filtered-by=green] .cases__item:not([data-case-category=green]) {
  display: none;
}
.cases--filtered[data-filtered-by=cyan] .cases__item:not([data-case-category=cyan]) {
  display: none;
}
.cases--filtered[data-filtered-by=blue] .cases__item:not([data-case-category=blue]) {
  display: none;
}
.cases--filtered[data-filtered-by=purple] .cases__item:not([data-case-category=purple]) {
  display: none;
}
.cases--filtered[data-filtered-by=pink] .cases__item:not([data-case-category=pink]) {
  display: none;
}
.cases--filtered[data-filtered-by=brown] .cases__item:not([data-case-category=brown]) {
  display: none;
}
.cases--filtered[data-filtered-by=grey] .cases__item:not([data-case-category=grey]) {
  display: none;
}
.cases--filtered[data-filtered-by=black] .cases__item:not([data-case-category=black]) {
  display: none;
}
.cases--filtered[data-filtered-by=yellow-1c] .cases__item:not([data-case-category=yellow-1c]) {
  display: none;
}
.cases--filtered[data-filtered-by=white] .cases__item:not([data-case-category=white]) {
  display: none;
}
.cases .panel__head {
  --head-height: 52px;
}

.case {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  .case {
    gap: 12px;
  }
}
.case__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}
@media screen and (max-width: 1439px) {
  .case__title {
    font-size: 20px;
  }
}
.case__image {
  max-height: 22px;
  max-width: 72px;
  position: absolute;
  top: 20px;
  left: 24px;
  width: var(--tab-width);
}
.case__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}
@media screen and (max-width: 1439px) {
  .case__text {
    font-size: 14px;
  }
}

.case-info {
  display: grid;
  grid-template-columns: auto minmax(280px, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 64px;
}
@media screen and (max-width: 1439px) {
  .case-info {
    grid-template-columns: auto minmax(240px, 1fr);
  }
}
@media screen and (max-width: 879px) {
  .case-info {
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 64px;
    display: inline;
  }
}
.case-info__title {
  grid-area: 1/1/2/2;
}
@media screen and (max-width: 879px) {
  .case-info__title {
    grid-area: 1/1/2/3;
  }
}
.case-info__meta {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.case-info__meta-data {
  margin-bottom: 32px;
}
.case-info__logos-list {
  display: flex;
  gap: 12px;
  align-items: center;
}
.case-info__img {
  grid-area: 1/2/3/3;
  text-align: right;
}
@media screen and (max-width: 879px) {
  .case-info__img {
    grid-area: 2/2/3/3;
  }
  .case-info__img img {
    max-width: 192px;
  }
}

.meta {
  display: flex;
  gap: 24px;
}
.meta__date, .meta__time, .meta__views {
  display: flex;
  align-items: center;
}
.meta__date::before, .meta__time::before, .meta__views::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.meta__date::before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path d="M2 12C2 8.22876 2 6.34315 3.17157 5.17157C4.34315 4 6.22876 4 10 4H14C17.7712 4 19.6569 4 20.8284 5.17157C22 6.34315 22 8.22876 22 12V14C22 17.7712 22 19.6569 20.8284 20.8284C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.8284C2 19.6569 2 17.7712 2 14V12Z" stroke="currentColor" stroke-width="1.5"/><path d="M7 4V2.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/><path d="M17 4V2.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/><path d="M2.5 9H21.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/><path d="M18 17C18 17.5523 17.5523 18 17 18C16.4477 18 16 17.5523 16 17C16 16.4477 16.4477 16 17 16C17.5523 16 18 16.4477 18 17Z" fill="currentColor"/><path d="M18 13C18 13.5523 17.5523 14 17 14C16.4477 14 16 13.5523 16 13C16 12.4477 16.4477 12 17 12C17.5523 12 18 12.4477 18 13Z" fill="currentColor"/><path d="M13 17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17C11 16.4477 11.4477 16 12 16C12.5523 16 13 16.4477 13 17Z" fill="currentColor"/><path d="M13 13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13C11 12.4477 11.4477 12 12 12C12.5523 12 13 12.4477 13 13Z" fill="currentColor"/><path d="M8 17C8 17.5523 7.55228 18 7 18C6.44772 18 6 17.5523 6 17C6 16.4477 6.44772 16 7 16C7.55228 16 8 16.4477 8 17Z" fill="currentColor"/><path d="M8 13C8 13.5523 7.55228 14 7 14C6.44772 14 6 13.5523 6 13C6 12.4477 6.44772 12 7 12C7.55228 12 8 12.4477 8 13Z" fill="currentColor"/></svg>') no-repeat center;
  background-size: cover;
}
.meta__time::before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"/><path d="M12 8V12L14.5 14.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
  background-size: cover;
}
.meta__views::before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path d="M3.27489 15.2957C2.42496 14.1915 2 13.6394 2 12C2 10.3606 2.42496 9.80853 3.27489 8.70433C4.97196 6.49956 7.81811 4 12 4C16.1819 4 19.028 6.49956 20.7251 8.70433C21.575 9.80853 22 10.3606 22 12C22 13.6394 21.575 14.1915 20.7251 15.2957C19.028 17.5004 16.1819 20 12 20C7.81811 20 4.97196 17.5004 3.27489 15.2957Z" stroke="currentColor" stroke-width="1.5"/><path d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z" stroke="currentColor" stroke-width="1.5"/></svg>') no-repeat center;
  background-size: cover;
}

.container__content {
  counter-reset: case;
}

.section--case-item .section__title {
  counter-increment: case;
}
.section--case-item .section__title::after {
  content: counter(case);
  --square: 64px;
  line-height: var(--square);
  width: var(--square);
  height: var(--square);
  flex: 0 0 var(--square);
  text-align: center;
  font-family: "Quantico", sans-serif;
  color: var(--color-black);
  background-color: var(--color-grey-dark);
  font-size: 40px;
}
@media screen and (max-width: 1439px) {
  .section--case-item .section__title::after {
    --square: 48px;
    font-size: 32px;
  }
}

.section__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.section__title[data-counter] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.section__title[data-counter]::after {
  content: attr(data-counter);
  --square: 64px;
  line-height: var(--square);
  width: var(--square);
  height: var(--square);
  flex: 0 0 var(--square);
  text-align: center;
  font-family: "Quantico", sans-serif;
  color: var(--color-black);
  background-color: var(--color-grey-dark);
  font-size: 40px;
}
@media screen and (max-width: 1439px) {
  .section__title[data-counter]::after {
    --square: 48px;
    font-size: 32px;
  }
}

.section--black .section__title::after {
  background-color: #fff;
}

.text-wrapper {
  font-weight: 500;
  line-height: 130%;
  width: 846px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1439px) {
  .text-wrapper {
    width: 696px;
  }
}
@media screen and (max-width: 879px) {
  .text-wrapper {
    width: auto;
  }
}
.text-wrapper + .text-wrapper {
  margin-top: 40px;
}
.text-wrapper p {
  margin: 1em 0;
}

.text-wrapper {
  --wrapper-width: 846px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1439px) {
  .text-wrapper {
    --wrapper-width: 696px;
  }
}
@media screen and (max-width: 879px) {
  .text-wrapper {
    --wrapper-width: auto;
  }
}
.text-wrapper--links {
  position: relative;
  width: 100%;
  gap: 20px;
}
.text-wrapper__links {
  position: absolute;
  width: calc((100% - var(--wrapper-width) - 24px) / 2);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.text-wrapper__links .button {
  align-self: flex-start;
}
@media screen and (max-width: 1024px) {
  .text-wrapper__links {
    position: relative;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .text-wrapper__links .link-list__header {
    flex: 1 0 100%;
  }
}
.text-wrapper__text {
  width: var(--wrapper-width);
  margin: 0 auto;
}

* + .section__title {
  margin-top: 64px;
}

.case__subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 24px;
}
@media screen and (max-width: 1439px) {
  .case__subtitle {
    font-size: 20px;
  }
}
.case__list {
  font-size: 20px;
}
@media screen and (max-width: 1439px) {
  .case__list {
    font-size: 16px;
  }
}

.screenshots {
  margin-top: 64px;
  align-items: center;
}
.screenshots__item {
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid var(--color-black);
}
@media screen and (min-width: 880px) {
  .screenshots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
  }
  .screenshots__item {
    display: block !important;
    width: auto;
  }
}
@media screen and (max-width: 879px) {
  .screenshots__img {
    margin: 0 auto;
  }
}

.screenshots__caption {
  text-align: center;
}

.button-panel {
  margin-top: 64px;
}

.tooltip--atol {
  position: absolute;
  left: 33.1%;
  top: 1%;
}/*# sourceMappingURL=case.css.map */