@media screen and (min-width: 880px) {
  .cases {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }
}
.cases__item {
  min-height: 288px;
}
@media screen and (max-width: 1439px) {
  .cases__item {
    min-height: 266px;
  }
}
@media screen and (min-width: 880px) {
  .cases__item {
    width: calc(33.3333333333% - 12px);
  }
}

@media screen and (max-width: 879px) {
  .swiper .cases__item {
    width: 100%;
    max-width: 344px;
  }
}

.cases__item:visibile:nth-child(n+7) {
  display: none;
}
.cases--filtered[data-filtered-by=blue] .cases__item:not([data-case-category=blue]) {
  display: none;
}
.cases--filtered[data-filtered-by=blue-dark] .cases__item:not([data-case-category=blue-dark]) {
  display: none;
}
.cases--filtered[data-filtered-by=red] .cases__item:not([data-case-category=red]) {
  display: none;
}
.cases--filtered[data-filtered-by=green] .cases__item:not([data-case-category=green]) {
  display: none;
}
.cases--filtered[data-filtered-by=yellow] .cases__item:not([data-case-category=yellow]) {
  display: none;
}
.cases--filtered[data-filtered-by=grey] .cases__item:not([data-case-category=grey]) {
  display: none;
}
.cases--filtered[data-filtered-by=black] .cases__item:not([data-case-category=black]) {
  display: none;
}
.cases--filtered[data-filtered-by=orange] .cases__item:not([data-case-category=orange]) {
  display: none;
}
.cases--filtered[data-filtered-by=green] .cases__item:not([data-case-category=green]) {
  display: none;
}
.cases .panel__head {
  --head-height: 52px;
}

.case {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  .case {
    gap: 12px;
  }
}
.case__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}
@media screen and (max-width: 1439px) {
  .case__title {
    font-size: 20px;
  }
}
.case__image {
  max-height: 22px;
  max-width: 72px;
  position: absolute;
  top: 20px;
  left: 24px;
}
.case__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}
@media screen and (max-width: 1439px) {
  .case__text {
    font-size: 14px;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 8px;
}

.wrapper.cases {
  flex-direction: row !important;
}
@media screen and (max-width: 879px) {
  .wrapper.cases {
    display: flex;
    flex-direction: column !important;
    justify-content: stretch;
    gap: 16px;
  }
}
@media screen and (max-width: 879px) {
  .wrapper.cases__item {
    width: 100%;
    flex: 1;
  }
}
.wrapper.cases--filtered .button-panel {
  display: none;
}
.wrapper.cases .button-panel {
  width: 100%;
}

.cases-wrapper {
  margin: 40px 0;
}

/*@include media-up($screen-md) {
  .cases-wrapper:nth-child(odd) .cases__item:nth-child(1) {
    width: calc(100%/3*2 - 6px);
  }
  .cases-wrapper:nth-child(even) {
    .cases__item:nth-child(5) {
      width: calc(100%/3*2 - 6px);
    }
  }
}*/
.cases-wrapper:nth-child(even) {
  background-color: var(--color-black);
  padding: 40px 0;
}
.cases-wrapper:nth-child(even) .panel--decoration-blue {
  box-shadow: 4px 4px 0px 0px var(--color-blue);
}
.cases-wrapper:nth-child(even) .panel--decoration-blue-dark {
  box-shadow: 4px 4px 0px 0px var(--color-blue-dark);
}
.cases-wrapper:nth-child(even) .panel--decoration-red {
  box-shadow: 4px 4px 0px 0px var(--color-red);
}
.cases-wrapper:nth-child(even) .panel--decoration-green {
  box-shadow: 4px 4px 0px 0px var(--color-green);
}
.cases-wrapper:nth-child(even) .panel--decoration-yellow {
  box-shadow: 4px 4px 0px 0px var(--color-yellow);
}
.cases-wrapper:nth-child(even) .panel--decoration-grey {
  box-shadow: 4px 4px 0px 0px var(--color-grey);
}
.cases-wrapper:nth-child(even) .panel--decoration-black {
  box-shadow: 4px 4px 0px 0px var(--color-black);
}
.cases-wrapper:nth-child(even) .panel--decoration-orange {
  box-shadow: 4px 4px 0px 0px var(--color-orange);
}
.cases-wrapper:nth-child(even) .panel--decoration-green {
  box-shadow: 4px 4px 0px 0px var(--color-green);
}

.paginator + .button-panel {
  margin-top: 48px;
}