@charset "UTF-8";
@media screen and (min-width: 880px) {
  .cases {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }
}
.cases__item {
  min-height: 288px;
}
@media screen and (max-width: 1439px) {
  .cases__item {
    min-height: 266px;
  }
}
@media screen and (min-width: 880px) {
  .cases__item {
    width: calc(33.3333333333% - 12px);
  }
}

@media screen and (max-width: 879px) {
  .swiper .cases__item {
    width: 100%;
    max-width: 344px;
  }
}

.cases__item:visibile:nth-child(n+7) {
  display: none;
}
.cases--filtered[data-filtered-by=red] .cases__item:not([data-case-category=red]) {
  display: none;
}
.cases--filtered[data-filtered-by=orange] .cases__item:not([data-case-category=orange]) {
  display: none;
}
.cases--filtered[data-filtered-by=yellow] .cases__item:not([data-case-category=yellow]) {
  display: none;
}
.cases--filtered[data-filtered-by=green] .cases__item:not([data-case-category=green]) {
  display: none;
}
.cases--filtered[data-filtered-by=cyan] .cases__item:not([data-case-category=cyan]) {
  display: none;
}
.cases--filtered[data-filtered-by=blue] .cases__item:not([data-case-category=blue]) {
  display: none;
}
.cases--filtered[data-filtered-by=purple] .cases__item:not([data-case-category=purple]) {
  display: none;
}
.cases--filtered[data-filtered-by=pink] .cases__item:not([data-case-category=pink]) {
  display: none;
}
.cases--filtered[data-filtered-by=brown] .cases__item:not([data-case-category=brown]) {
  display: none;
}
.cases--filtered[data-filtered-by=grey] .cases__item:not([data-case-category=grey]) {
  display: none;
}
.cases--filtered[data-filtered-by=black] .cases__item:not([data-case-category=black]) {
  display: none;
}
.cases--filtered[data-filtered-by=yellow-1c] .cases__item:not([data-case-category=yellow-1c]) {
  display: none;
}
.cases--filtered[data-filtered-by=white] .cases__item:not([data-case-category=white]) {
  display: none;
}
.cases .panel__head {
  --head-height: 52px;
}

.case {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  .case {
    gap: 12px;
  }
}
.case__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}
@media screen and (max-width: 1439px) {
  .case__title {
    font-size: 20px;
  }
}
.case__image {
  max-height: 22px;
  max-width: 72px;
  position: absolute;
  top: 20px;
  left: 24px;
  width: var(--tab-width);
}
.case__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}
@media screen and (max-width: 1439px) {
  .case__text {
    font-size: 14px;
  }
}

.tools {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  max-width: 1041px;
  position: relative;
  color: var(--color-black);
}
@media screen and (max-width: 879px) {
  .tools {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
}
.tools__item {
  position: relative;
}
.tools__item:nth-child(1) {
  grid-area: 1/1/2/2;
}
.tools__item:nth-child(2) {
  grid-area: 1/2/2/3;
}
.tools__item:nth-child(3) {
  grid-area: 1/3/2/4;
}
.tools__item:nth-child(4) {
  grid-area: 1/4/2/5;
}
.tools__item:nth-child(5) {
  grid-area: 2/1/3/3;
}
.tools__item:nth-child(6) {
  grid-area: 2/3/3/5;
}
.tools__item > .button {
  width: 100%;
}
@media screen and (max-width: 879px) {
  .tools__item {
    display: flex;
    flex-direction: column-reverse;
  }
}
.tools__panel {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 100%;
  background: #fff;
  font-size: 14px;
  line-height: 130%;
  transition: opacity var(--animation-duration);
}
@media screen and (max-width: 879px) {
  .tools__panel {
    position: unset;
  }
}
.tools__panel .panel {
  border-bottom: none;
}
.tools__panel:not(.tools__panel--active) {
  visibility: hidden;
  height: 0;
  opacity: 0;
}
.tools::after {
  content: "";
  --square: 136px;
  --rotate: -155deg;
  height: var(--square);
  width: var(--square);
  transform: rotate(var(--rotate));
  position: absolute;
  left: calc(100% + 40px);
  bottom: 30px;
  -webkit-mask: url("../i/tip-arrow.svg") center no-repeat;
          mask: url("../i/tip-arrow.svg") center no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: var(--color-yellow);
}
@media screen and (max-width: 1439px) {
  .tools::after {
    --square: 104px;
    --rotate: -200deg;
    left: unset;
    right: 180px;
    bottom: calc(100% + 20px);
  }
}
.tools::before {
  content: "Используем в работе";
  font-size: 24px;
  font-weight: 400;
  color: var(--color-black);
  position: absolute;
  left: calc(100% + 60px);
  bottom: 0;
  white-space: nowrap;
}
@media screen and (max-width: 1439px) {
  .tools::before {
    left: unset;
    right: 0;
    bottom: calc(100% + 27px);
    font-size: 20px;
    line-height: normal;
  }
}

.steps {
  -moz-column-count: 2;
       column-count: 2;
  gap: 24px;
  margin: 0 0 72px;
  color: var(--color-black);
}
@media screen and (max-width: 1024px) {
  .steps {
    gap: 20px;
  }
}
@media screen and (max-width: 879px) {
  .steps {
    gap: 12px;
    -moz-column-count: 1;
         column-count: 1;
  }
}
.steps__item {
  height: 112px;
  background-color: #fff;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
  padding-right: 20px;
}
@media screen and (max-width: 879px) {
  .steps__item {
    gap: 12px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 879px) {
  .steps__item {
    gap: 8px;
  }
}
.steps__item-number {
  flex: 0 1 112px;
  font-size: 72px;
  line-height: 112px;
  max-width: 112px;
  text-align: center;
  font-family: "Quantico", sans-serif;
  background-color: var(--color-yellow);
}
@media screen and (max-width: 879px) {
  .steps__item-number {
    font-size: 40px;
    flex: 1 0 48px;
  }
}
.steps__item-text {
  display: flex;
  align-items: center;
  flex: 0 1 416px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1439px) {
  .steps__item-text {
    font-size: 15px;
  }
}
.steps__item-image {
  --square: 80px;
  height: var(--square);
  width: var(--square);
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .steps__item-image {
    --square: 56px;
  }
}
@media screen and (max-width: 879px) {
  .steps__item-image {
    --square: 48px;
  }
}

.business-tip {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin: 0 0 58px 50%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .business-tip {
    font-size: 24px;
  }
}
@media screen and (max-width: 879px) {
  .business-tip {
    font-size: 20px;
    margin: 0 0 5px;
  }
}
.business-tip::after {
  content: "";
  --square: 136px;
  height: var(--square);
  width: var(--square);
  transform: rotate(var(--rotate));
  position: absolute;
  left: -150px;
  transform: rotate(135deg);
  top: -20px;
  -webkit-mask: url("../i/tip-arrow.svg") center no-repeat;
          mask: url("../i/tip-arrow.svg") center no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: var(--color-cyan);
}
@media screen and (max-width: 879px) {
  .business-tip::after {
    position: initial;
    display: block;
    transform: scaleY(-100%) rotate(-55deg);
    padding-left: 100%;
  }
}
.business-tip + .block-group {
  margin-top: 0;
}

.accounting-tip {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  position: relative;
  color: #fff;
  max-width: 580px;
  margin: 0 0 68px;
}
@media screen and (max-width: 1024px) {
  .accounting-tip {
    font-size: 24px;
  }
}
@media screen and (max-width: 879px) {
  .accounting-tip {
    font-size: 20px;
    margin: 0 0 5px;
  }
}
.accounting-tip::after {
  content: "";
  --square: 136px;
  height: var(--square);
  width: var(--square);
  transform: scaleY(-100%) rotate(-55deg);
  position: absolute;
  right: -80px;
  top: -20px;
  -webkit-mask: url("../i/tip-arrow.svg") center no-repeat;
          mask: url("../i/tip-arrow.svg") center no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: var(--color-yellow);
}
@media screen and (max-width: 879px) {
  .accounting-tip::after {
    position: initial;
    display: block;
    padding-left: 100%;
  }
}

.accounting {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 879px) {
  .accounting {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .accounting__item {
    min-height: 256px;
  }
}
.accounting__item {
  min-height: 336px;
  grid-row: span 2;
}
@media screen and (max-width: 879px) {
  .accounting__item {
    min-height: 272px;
  }
  .accounting__item .panel__image {
    max-width: 96px;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 40px;
}

.help {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  max-height: 700px;
}
@media screen and (max-width: 1024px) {
  .help {
    max-height: 600px;
    gap: 20px;
  }
}
@media screen and (max-width: 879px) {
  .help {
    max-height: unset;
  }
}
.help__item {
  width: calc(50% - 12px);
}
@media screen and (min-width: 1025px) {
  .help__item {
    height: 216px;
  }
}
@media screen and (min-width: 880px) and (max-width: 1024px) {
  .help__item {
    height: 160px;
  }
}
@media screen and (max-width: 879px) {
  .help__item {
    width: auto;
    min-height: 172px;
  }
}
.help__title {
  margin-bottom: auto;
}
.help__text {
  margin-top: auto;
}
.help__block {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 100px;
  flex: 1;
}
.help__image {
  top: var(--panel-content-padding);
  bottom: unset;
}

@media screen and (min-width: 1440px) {
  .wrapper--main-bg-image {
    background: url("../i/main-graphic.svg") center no-repeat;
    min-height: calc(720px - var(--header-height));
  }
}/*# sourceMappingURL=index.css.map */