.our-products + .swiper {
  margin-top: 76px;
}
@media screen and (max-width: 879px) {
  .our-products + .swiper {
    margin-top: 20px;
  }
}

.our-products {
  display: grid;
  grid-template-columns: minmax(auto, 516px) auto 1fr;
  gap: 30px;
  margin-bottom: 64px;
}
@media screen and (max-width: 1439px) {
  .our-products {
    grid-template-columns: minmax(auto, 338px) auto 1fr;
  }
}
@media screen and (max-width: 879px) {
  .our-products {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
  }
}
.our-products__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (max-width: 1439px) {
  .our-products__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 879px) {
  .our-products__title {
    font-size: 20px;
  }
}
.our-products__arrow {
  --square: 135px;
  width: var(--square);
  height: var(--square);
}
@media screen and (max-width: 1439px) {
  .our-products__arrow {
    --square: 104px;
  }
}
@media screen and (max-width: 879px) {
  .our-products__arrow {
    transform: rotate(230deg) scaleX(-100%);
    order: 4;
    margin: 0 auto;
  }
}
.our-products__button-title {
  margin-bottom: 32px;
  font-size: 20px;
}
@media screen and (max-width: 1439px) {
  .our-products__button-title {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 879px) {
  .our-products__button-title {
    margin-bottom: 24px;
  }
}
.our-products__button {
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 64px;
}
.our-products__button--big {
  height: 118px;
  line-height: 118px;
  padding: 0;
  margin-top: 0;
}

.products {
  /*&__item.products__item--cross {
    &:nth-child(4n - 3), &:nth-child(4n - 4) {
      .panel__content {
        // background: url('../i/panel-zeta_white.svg') right var(--panel-content-padding) bottom var(--panel-content-padding) no-repeat;
        background: url('../i/panel-zeta.svg') right var(--panel-content-padding) bottom var(--panel-content-padding) no-repeat;
        background-size: 72px 20px;
      }
      //background-color: var(--color-black);
      //color: var(--color-white, #fff);

    }
    &:nth-child(4n - 2), &:nth-child(4n - 1) {
      .panel__content {
        background: url('../i/panel-zeta.svg') right var(--panel-content-padding) bottom var(--panel-content-padding) no-repeat;
        background-size: 72px 20px;
      }
      background-color: var(--color-white, #fff);
      color: var(--color-black);
    }
  }*/
}
@media screen and (min-width: 880px) {
  .products {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(192px, auto);
  }
}
@media screen and (min-width: 1440px) {
  .products {
    grid-auto-rows: minmax(224px, auto);
  }
}
@media screen and (min-width: 880px) {
  .products--small {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
.products .panel__content {
  gap: 24px;
}
@media screen and (max-width: 879px) {
  .products .panel__content {
    gap: 8px;
  }
}
.products__title, .products__name {
  font-size: 24px;
  font-weight: 600;
}
@media screen and (max-width: 1439px) {
  .products__title, .products__name {
    font-size: 20px;
  }
}
.products__title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - var(--tab-width-rev));
  white-space: nowrap;
}
.products__title--wrap {
  white-space: unset;
}
.products__price {
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  white-space: nowrap;
}
@media screen and (max-width: 1439px) {
  .products__price {
    font-size: 20px;
  }
}
.products__text {
  font-size: 16px;
  flex: 1;
}
.products__logo {
  max-width: 116px;
  max-height: 62px;
}
@media screen and (max-width: 1439px) {
  .products__logo {
    max-width: 95px;
    max-height: 39px;
  }
}
.products__image {
  max-height: 60px;
  max-width: 60px;
}
.products .bottom__block {
  width: 100%;
  margin-top: 24px;
}

@media screen and (min-width: 880px) {
  .products--methodics {
    grid-auto-rows: auto;
  }
  .products--methodics .panel__content {
    gap: 16px;
    padding: 16px var(--panel-content-padding);
  }
  .products--methodics .products__item {
    min-height: unset;
    min-height: 150px;
  }
  .products--solutions .products__item {
    min-height: unset;
    min-height: 208px;
  }
  .products--1c {
    grid-auto-rows: auto;
  }
  .products--1c .panel__content {
    gap: 16px;
    padding: 16px var(--panel-content-padding);
  }
  .products--1c .products__item {
    min-height: unset;
    height: auto;
  }
  .products--1c .products__text {
    padding-right: 70px;
  }
  .products--1c .products__image {
    position: absolute;
    right: var(--panel-content-padding);
    bottom: var(--panel-content-padding);
  }
}
.button-panel {
  margin-top: 56px;
}