@charset "UTF-8";
.our-products + .swiper {
  margin-top: 76px;
}
@media screen and (max-width: 879px) {
  .our-products + .swiper {
    margin-top: 20px;
  }
}

.our-products {
  display: grid;
  grid-template-columns: minmax(auto, 516px) auto 1fr;
  gap: 30px;
}
@media screen and (max-width: 1439px) {
  .our-products {
    grid-template-columns: minmax(auto, 338px) auto 1fr;
  }
}
@media screen and (max-width: 879px) {
  .our-products {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
  }
}
.our-products__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (max-width: 1439px) {
  .our-products__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 879px) {
  .our-products__title {
    font-size: 20px;
  }
}
.our-products__arrow {
  --square: 135px;
  width: var(--square);
  height: var(--square);
}
@media screen and (max-width: 1439px) {
  .our-products__arrow {
    --square: 104px;
  }
}
@media screen and (max-width: 879px) {
  .our-products__arrow {
    transform: rotate(230deg) scaleX(-100%);
    order: 4;
    margin: 0 auto;
  }
}
.our-products__button-title {
  margin-bottom: 32px;
  font-size: 20px;
}
@media screen and (max-width: 1439px) {
  .our-products__button-title {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 879px) {
  .our-products__button-title {
    margin-bottom: 24px;
  }
}
.our-products__button {
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 880px) {
  .products {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(192px, auto);
  }
}
@media screen and (min-width: 1440px) {
  .products {
    grid-auto-rows: minmax(224px, auto);
  }
}
.products--small {
  display: grid;
}
@media screen and (max-width: 879px) {
  .products--small {
    grid-auto-rows: minmax(157px, auto);
    gap: 12px;
  }
}
@media screen and (min-width: 880px) {
  .products--small {
    grid-auto-rows: minmax(168px, auto);
  }
}
@media screen and (min-width: 1440px) {
  .products--small {
    grid-auto-rows: minmax(216px, auto);
  }
}
.products .panel__content {
  gap: 24px;
}
@media screen and (max-width: 879px) {
  .products .panel__content {
    gap: 8px;
  }
}
.products__top, .products__bottom {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
@media screen and (max-width: 879px) {
  .products__top {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 879px) {
  .products__top {
    flex-direction: column;
    align-items: flex-start;
  }
}
.products__top + .products__bottom {
  margin-top: auto;
}
@media screen and (min-width: 880px) {
  .products__top + .products__bottom {
    flex-wrap: nowrap;
  }
}
.products__bottom {
  align-items: flex-end;
  overflow: hidden;
  flex-wrap: wrap;
}
.products__bottom .panel__link + .products__price {
  margin-top: 8px;
}
.products__title, .products__name {
  font-size: 24px;
  font-weight: 600;
}
@media screen and (max-width: 1439px) {
  .products__title, .products__name {
    font-size: 20px;
  }
}
.products__title {
  max-width: 482px;
}
.products__price {
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  white-space: nowrap;
}
@media screen and (max-width: 1439px) {
  .products__price {
    font-size: 20px;
  }
}
.products__text {
  font-size: 16px;
  flex: 1;
}
.products__logo {
  max-width: 116px;
  max-height: 62px;
}
@media screen and (max-width: 1439px) {
  .products__logo {
    max-width: 95px;
    max-height: 39px;
  }
}
.products__item.products__item--cross:nth-child(4n-3) .panel__content, .products__item.products__item--cross:nth-child(4n-4) .panel__content {
  background: url("../i/panel-zeta.svg") right var(--panel-content-padding) bottom var(--panel-content-padding) no-repeat;
  background-size: 72px 20px;
}
.products__item.products__item--cross:nth-child(4n-2), .products__item.products__item--cross:nth-child(4n-1) {
  background-color: var(--color-white, #fff);
  color: var(--color-black);
}
.products__item.products__item--cross:nth-child(4n-2) .panel__content, .products__item.products__item--cross:nth-child(4n-1) .panel__content {
  background: url("../i/panel-zeta.svg") right var(--panel-content-padding) bottom var(--panel-content-padding) no-repeat;
  background-size: 72px 20px;
}
.products__item.products__item--zeta .panel__content {
  background: url("../i/panel-zeta.svg") right var(--panel-content-padding) bottom var(--panel-content-padding) no-repeat;
  background-size: 72px 20px;
}
.products__item.products__item--1с .panel__content {
  background: url("../i/panel-1c.svg") right var(--panel-content-padding) bottom var(--panel-content-padding) no-repeat;
  background-size: 39px 23px;
}

.button-panel {
  margin-top: 56px;
}