.vacancies {
  display: flex;
  flex-direction: column;
}
.vacancies__title {
  font-size: 32px;
  margin-bottom: 24px;
}
@media screen and (max-width: 1439px) {
  .vacancies__title {
    font-size: 24px;
    margin-right: 84px;
  }
}
@media screen and (max-width: 879px) {
  .vacancies__title {
    margin-bottom: 16px;
  }
}
.vacancies__text {
  font-size: 20px;
}
@media screen and (max-width: 1439px) {
  .vacancies__text {
    font-size: 16px;
    margin-top: 64px;
  }
}
.vacancies__link {
  color: var(--color-cyan);
  font-size: 24px;
}
@media screen and (max-width: 1439px) {
  .vacancies__link {
    font-size: 20px;
  }
}
.vacancies__link:hover {
  text-decoration: underline;
}
.vacancies__link + .vacancies__link {
  margin-top: 16px;
}
.vacancies__img {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 1439px) {
  .vacancies__img {
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 879px) {
  .vacancies__img {
    top: 20px;
    right: 20px;
    width: 64px;
    height: 64px;
  }
}
.vacancies__arrow {
  margin: 0 auto;
  max-width: 135px;
}
.vacancies__arrow--right {
  transform: scaleY(-1) rotate(-55deg);
}
.vacancies__arrow--left {
  transform: rotate(125deg);
}
@media screen and (max-width: 879px) {
  .vacancies .cols {
    gap: 40px;
  }
}

@media screen and (min-width: 880px) {
  .vacancies__item {
    min-height: 312px;
  }
}
.vacancies__item .cols {
  gap: 64px;
}
@media screen and (max-width: 879px) {
  .vacancies__item .cols {
    gap: 48px;
  }
}
@media screen and (max-width: 879px) {
  .vacancies__item .cols {
    gap: 40px;
  }
}
.vacancies__item .cols__item {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 879px) {
  .vacancies__item .cols__item {
    position: initial;
  }
}
@media screen and (max-width: 879px) {
  .vacancies__item .cols__item--list {
    order: 2;
    margin-bottom: 12px;
  }
  .vacancies__item .cols__item--list .vacancies__title {
    margin-right: 0;
  }
}