<div class="footer-wrapper">
  <div class="wrapper">
    <div class="footer-menu">
      <nav class="footer-menu__links links">
        <ul class="links__col">
          <a href="./services.html" class="footer-menu__link">Услуги</a>
          <a href="./products.html" class="footer-menu__link">Продукты</a>
          <a href="./competitions.html" class="footer-menu__link">Компетенции</a>
          <a href="./cases.html" class="footer-menu__link">Кейсы</a>
          <a href="./blog.html" class="footer-menu__link">Блог</a>
          <a href="./vacancies.html" class="footer-menu__link">Вакансии</a>
          <a href="./about.html" class="footer-menu__link">Контакты</a>
        </ul>
        <ul class="links__col">
          <a href="#" class="footer-menu__link">Продукты фирмы ЗетаСофт</a>
          <a href="#" class="footer-menu__link">Продукты фирмы 1С</a>
        </ul>
        <ul class="links__col">
          <a href="#" class="footer-menu__link">Наши вакансии</a>
          <a href="#" class="footer-menu__link">Лицензии и&nbsp;сертификаты</a>
          <a href="#" class="footer-menu__link">Контакты и&nbsp;реквизиты</a>
        </ul>
      </nav>
      <div class="footer-menu__contacts">
        <a href="tel:+78124906789" class="footer-menu__phone footer-menu__link">+7&nbsp;812&nbsp;490-67-89</a>
        <div class="footer-menu__email email">
          <div class="email__label">Почта для&nbsp;обращений</div>
          <a href="mailto:info@zetasoft.ru" class="email__email footer-menu__link">info@zetasoft.ru</a>
        </div>
      </div>
      <div class="footer-menu__logos logos">
        <img src="./dist/img/1c-logo.svg?1" alt="1c logo" class="logos__item">
        <img src="./dist/img/cra-logo.svg?1" alt="cra logo" class="logos__item">
        <a href="./" class="logos__item footer-logo">
          <img src="./dist/img/logo-white.svg?1" alt="zeta logo">
        </a>
      </div>
    </div>
    <footer class="credits">
      <span class="credits__item">Copyright © 2006 – 2024</span>
      <a href="#" class="credits__link">Политика конфиденциальности</a>
      <a href="#" class="credits__link">Пользовательское соглашение</a>
      <a href="#" class="credits__link">Работает на: Zeta Web</a>
    </footer>
  </div>
</div>

<div class="modal" id="contact-form">
  <div class="modal__bg js-modal-exit"></div>
  <div class="modal__container">
    <button class="modal__close js-modal-exit"></button>
    <div class="modal__title js-title">
      Заполните данные для бесплатной консультации
    </div>
    <form class="modal__form form">
      <input type="text" name="name" placeholder="Имя" class="input" required>
      <input type="text" name="phone" placeholder="+7" class="input" required>
      <input type="text" name="email" placeholder="E-mail" class="input" required>
      <textarea class="input form__textarea" name="comment" placeholder="Комментарий" rows="10"></textarea>
      <input type="submit" value="Отправить" class="form__submit button button--block button--bg button--yellow">
      <span class="form__tip">Нажимая на кнопку «Отправить», я <a class="form__link" href="#">даю согласие</a> на обработку персональных данных</span>
    </form>
  </div>
</div>

<div class="modal" id="login-form">
  <div class="modal__bg js-modal-exit"></div>
  <div class="modal__container">
    <button class="modal__close js-modal-exit"></button>
    <div class="modal__title js-title"></div>
    <form class="modal__form form" action="/login" method="POST">
      <input type="text" name="login" placeholder="Почта / логин" class="input" required>
      <input type="password" name="password" placeholder="Пароль" class="input" required>
      <input type="submit" value="Войти" class="form__submit button button--block button--bg button--yellow">
    </form>
  </div>
</div>

<div class="popup-menu" id="popup-menu">
  <div class="wrapper hide-md-up">
    <nav class="links">
      <ul class="links__col">
        <a href="./services.html" class="links__item">Услуги</a>
        <a href="./products.html" class="links__item">Продукты</a>
        <a href="./competitions.html" class="links__item">Компетенции</a>
        <a href="./cases.html" class="links__item">Кейсы</a>
        <a href="./blog.html" class="links__item">Блог</a>
        <a href="./vacancies.html" class="links__item">Вакансии</a>
        <a href="./about.html" class="links__item">Контакты</a>
      </ul>
      <ul class="links__col">
        <a href="#" class="links__item">Продукты фирмы ЗетаСофт</a>
        <a href="#" class="links__item">Продукты фирмы 1С</a>
      </ul>
      <ul class="links__col">
        <a href="#" class="links__item">Наши вакансии</a>
        <a href="#" class="links__item">Лицензии и&nbsp;сертификаты</a>
        <a href="#" class="links__item">Контакты и&nbsp;реквизиты</a>
      </ul>
    </nav>
    <a href="tel:+78124906789" class="popup-menu__phone links__item">+7&nbsp;812&nbsp;490-67-89</a>
    <button class="popup-menu__contact-button button button--bg  button--yellow" data-modal="contact-form">Оставить&nbsp;заявку</button>
  </div>
  <div class="hide-md-down">
    <nav class="links">
      <ul class="links__col">
        <a href="./competitions.html" class="links__item">Компетенции</a>
        <a href="./blog.html" class="links__item">Блог</a>
        <a href="./vacancies.html" class="links__item">Вакансии</a>
      </ul>
    </nav>
  </div>
</div>
