<footer class="footer">
  <div class="wrapper">
    <div class="footer__cols">
      <nav class="footer__nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
        </ul>
      </nav>
      <nav class="footer__nav">
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </nav>
      <nav class="footer__nav">
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Cases</a></li>
        </ul>
      </nav>
      <div class="footer__logo">
        <img src="./assets/img/logo_white.svg" alt="Zetasoft logo white">
      </div>
    </div>
  </div>
</footer>