.section {
  //padding-right: 40%;
  height: 630px;
  margin: 120px 0 160px;
  &__info {
    width: 100%;
    max-width: 800px;
  }
  &__title {
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 30px;
  }
  &__subtitle {
    font-size: 46px;
    line-height: 130%;
    color: #273140;
    margin-bottom: 50px;
  }
  &--dark {
    padding: 0;
    background: #273140;
    border-radius: 0px 365px 30px 30px;
  }
  &--ill1 {
    background: url('/assets/img/1main/ill1.jpg') top 50px right no-repeat;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
  counter-reset: count;
  &__item {
    flex: 0 0 calc(50% - 25px);
    font-size: 18px;
    line-height: 18px;
    position: relative;
    padding-left: 26px;
    counter-increment: count;
    &::before {
      content: counter(count, decimal-leading-zero);
      color: var(--red-color);
      position: absolute;
      left: 0;
    }
  }
  &__button {
    position: absolute;
    right: -30px;
    bottom: -20px;
  } 
  
}

.adult-label {
  display: inline-block;
  border: 4px solid var(--red-color);
  color: var(--red-color);
  font-weight: 700;
  font-size: 24px;
  line-height: initial;
  padding: 8px 24px;
  text-transform: uppercase;
  transform: rotate(-2.58deg);
  margin-left: 20px;
}