@import './_mixins';

.cases {
  @include media-up($screen-md) {
    display: flex;
    flex-wrap: wrap;
    //display: grid;
    //grid-template: '1fr 1fr 1fr';
    gap: 18px;
  }
  &__item {
    @include media-up($screen-md) {
      aspect-ratio: 1/1;
      max-height: 436px;
    }
    @include media-up($screen-sm) {
      //max-height: 312px;
      width: calc(100%/3 - 12px);
    }
  }
}

.cases {
  &__item:visibile:nth-child(n+7) {
    display: none;
  }
  &--filtered {
    @each $val in $color-list {
      &[data-filtered-by='#{$val}'] .cases__item:not([data-case-category='#{$val}']) {
        display: none;
      }
    }
  }
  .panel__head {
    --head-height: 52px;
  }
}

.case {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  @include media-down($screen-bg) {
    gap: 18px;
  }
  &__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
    flex: 1;
    @include media-down($screen-lg) {
      font-size: 20px;
    }
  }
  &__image {
    max-height: 22px;
    max-width: 72px;
    position: absolute;
    top: 20px;
    left: 24px;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    @include media-down($screen-lg) {
      font-size: 14px;
    }
  }
}