.footer-wrapper {
  background-color: var(--color-blue);
  padding-top: 56px;
  padding-bottom: 56px;
  @include media-down($screen-lg) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  @include media-down($screen-md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer-logo {
  transition: opacity var(--animation-duration);
  &:hover {
    opacity: .8;
  }
}

.footer-menu {
  background-color: var(--color-black);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  padding: 56px 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  @include media-down($screen-md) {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
  }
  &__link:hover {
    color: var(--color-blue-dark)
  }
  &__contacts {
    @include media-up($screen-md) {
      text-align: right;
    }
    @include media-down($screen-md) {
      order: -1;
    }
  }
  &__phone {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 32px;
    display: inline-block;
    @include media-between($screen-md, $screen-bg) {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }
  &__logos {
    flex: 1 0 100%;
  }
  .email {
    &__label {
      margin-bottom: 8px;
    }
    &__email {
      text-decoration: underline;
      font-size: 20px;
    }
  }
  .logos {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    height: 50px;
    @include media-down($screen-md) {
      flex: 1;
      width: 100%;
      gap: 16px;
      justify-content: space-between;
      &__item {
        height: 28px;
      }
    }
  }
}

.credits {
  border-top: 1px solid #fff;
  color: var(--color-white, #fff);
  background-color: var(--color-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  min-height: 88px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  @include media-down($screen-bg) {
    justify-content: left;
    padding: 32px 20px;
  }
  @include media-down($screen-md) {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  &__link {
    color: var(--color-blue-dark);
    &:first-child {
      flex: 1;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__item {
    flex: 1;
    @include media-down($screen-bg) {
      flex: 1 0 100%;
      order: 2;
    }
  }
}
