.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
  &__navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    font-size: 24px;
    line-height: 24px;
  }
  &__nav {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
  &__right {
    text-align: right;
  }
  &__phone {
    display: block;
    font-size: 40px;
    line-height: 40px;  
    margin-bottom: 17px;
    white-space: nowrap;
  }
  &__link {
    color: #2095F2;
    font-size: 18px;
    line-height: 18px;
  }
}

.breadcrumbs {
  display: flex;
  gap: 8px;
  font-size: 20px;
  line-height: 20px;
  color: #CCCCCC;
  &__item:last-child {
    color: #000;
  }
}