$screen-lg: 1440px;
$screen-bg: 1025px;
$screen-md: 880px;
$screen-sm: 375px;

$header-bg: 1240px;

@mixin media-down($max) {
  @media screen and (max-width: #{$max - 1}) {
    @content;
  }
}

@mixin media-up($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

@mixin media-between($min, $max) {
  @media screen and (min-width: $min) and (max-width: #{$max - 1}) {
    @content;
  }
}


$color-list: (
  'red': #E26655,
  'orange': #EC6400,
  'yellow': #FCCB26,
  'green': #00B04C,
  'cyan': #00ABEA,
  'blue': #008ECB,
  'purple': #800080,
  'pink': #FFC0CB,
  'brown': #A52A2A,
  'grey': #F2F2F2,
  'black': #231F20,
  'yellow-1c': #ffdd00,
  'white': #ffffff
);

@function generate-color-variations($color, $darken-amount, $lighten-amount) {
  @return (
    'base': $color,
    'dark': darken($color, $darken-amount),
    'light': lighten($color, $lighten-amount)
  );
}


//$color-list:('red', 'orange', 'yellow', 'green', 'cyan', 'blue', 'violet', 'grey', 'black');
//$color-list:('blue', 'blue-dark', 'red', 'green', 'yellow', 'grey', 'black', 'orange', 'green');