@import './_mixins';

.about {
  display: flex;
  gap: 24px;
  @include media-down($screen-bg) {
    gap: 16px;
  }
  @include media-down($screen-bg) {
    flex-direction: column;
  }
  &__bank-info {
    flex: 1 0 100%;
    max-width: 436px;
    min-width: 312px;
    @include media-down($screen-bg) {
      max-width: 312px;
    }
    @include media-down($screen-md) {
      max-width: unset;
    }
    &-text {
      padding: 0;
      margin-top: 24px;
      font-size: 20px;
      font-weight: 500;
      line-height: 130%;
      @include media-down($screen-bg) {
        font-size: 16px;
      }
    }
  }
  &__title {
    font-size: 28px;
    @include media-down($screen-lg) {
      font-size: 24px;
    }
    @include media-down($screen-md) {
      font-size: 20px;
    }
  }
  
}

.addresses {
  flex: 1;
  &__item {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    @include media-down($screen-md) {
      flex-direction: column;
      gap: 12px;
    }
    & + .addresses__item {
      margin-top: 24px;
      @include media-down($screen-md) {
        margin-top: 18px;
      }
    }
    &--separator + .addresses__item {
      margin-top: 42px;
      padding-top: 42px;
      border-top: 1px solid #fff;
      @include media-down($screen-lg) {
        margin-top: 24px;
        padding-top: 24px;
      }
    }
  }
  &__details {
    flex: 1;
    max-width: 431px;
    @include media-down($screen-lg) {
      max-width: 312px;
    }
    @include media-down($screen-md) {
      max-width: unset;
    }
  }
  &__contact {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    &--email {
      text-decoration: underline;
    }
    &:last-of-type:not(:first-child) {
      margin-bottom: 16px;
    }
    @include media-down($screen-lg) {
      font-size: 20px;
    }
    @include media-down($screen-md) {
      font-size: 16px;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    align-self: center;
    @include media-down($screen-md) {
      align-self: flex-start;
    }
  }
}

.map {
  height: 584px;
  margin-top: 54px;
  position: relative;
  @include media-down($screen-lg) {
    height: 420px;
  }
}