@import './_mixins';
@import './_cases-common';

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 8px;
}

.wrapper.cases {
  flex-direction: row !important;
  @include media-down($screen-md) {
    display: flex;
    flex-direction: column !important;
    justify-content: stretch;
    gap: 16px;
  }
  &__item {
    @include media-down($screen-md) {
      width: 100%;
      flex: 1;
    }
  }
  &--filtered .button-panel {
    display: none;
  }
  .button-panel {
    width: 100%;
  }
}

.cases-wrapper {
  margin: 40px 0;
}

/*@include media-up($screen-md) {
  .cases-wrapper:nth-child(odd) .cases__item:nth-child(1) {
    width: calc(100%/3*2 - 6px);
  }
  .cases-wrapper:nth-child(even) {
    .cases__item:nth-child(5) {
      width: calc(100%/3*2 - 6px);
    }
  }
}*/

.cases-wrapper:nth-child(even) {
  background-color: var(--color-black);
  padding: 40px 0;
  .panel {
    @each $name, $color in $color-list {
      &--decoration-#{$name} {
        box-shadow: 4px 4px 0px 0px var(--color-#{$name});
      }
    }
  }
}

.paginator + .button-panel {
  margin-top: 48px;
}