@import './_mixins';
@import './_cases-common';
@import './_anchors';


.section {
  position: relative;
}
.section > .panel__head {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  --head-height: 72px;
  @include media-down($screen-lg) {
    --head-height: 56px;
  }
  @include media-down($screen-md) {
    --head-height: 40px;
  }
  &::before {
    margin-left: calc(100% / 3);
  }
  &::after {
    left: calc(100% / 3 - 1px);
  }
}

.button-panel {
  margin-top: 72px;
}

.scroll-top-button {
  border: 1px solid var(--color-black, #000);
  cursor: pointer;
  display: block;
  width: 48px;
  height: 48px;
  padding: 0;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none"><path d="M25 39L25 11" stroke="%23231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M11 25L25 11L39 25" stroke="%23231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') center no-repeat;
  text-decoration: none;
  &--yellow {
    background-color: var(--color-yellow);
  }
  &--blue {
    background-color: var(--color-blue);
  }
  &--red {
    background-color: var(--color-red);
  }
  &:hover {
    opacity: .8;
  }
}

.section h2.section__title.section__title--with-button {
  display: flex;
  justify-content: space-between;
}