@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/');
    src: local('Graphik LCG Medium Italic'), local('GraphikLCG-MediumItalic'),
        url('../fonts/GraphikLCG/GraphikLCG-MediumItalic?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-MediumItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-MediumItalic.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-SuperItalic.eot');
    src: local('Graphik LCG Super Italic'), local('GraphikLCG-SuperItalic'),
        url('../fonts/GraphikLCG/GraphikLCG-SuperItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-SuperItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-SuperItalic.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-SuperItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.eot');
    src: local('Graphik LCG Semibold Italic'), local('GraphikLCG-SemiboldItalic'),
        url('../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-Black.eot');
    src: local('Graphik LCG Black'), local('GraphikLCG-Black'),
        url('../fonts/GraphikLCG/GraphikLCG-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-Black.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-Black.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-Super.eot');
    src: local('Graphik LCG Super'), local('GraphikLCG-Super'),
        url('../fonts/GraphikLCG/GraphikLCG-Super.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-Super.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-Super.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-Thin.eot');
    src: local('Graphik LCG Thin'), local('GraphikLCG-Thin'),
        url('../fonts/GraphikLCG/GraphikLCG-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-Thin.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-Thin.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.eot');
    src: local('Graphik LCG Extralight Italic'), local('GraphikLCG-ExtralightItalic'),
        url('../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-ExtralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-Regular.eot');
    src: local('Graphik LCG Regular'), local('GraphikLCG-Regular'),
        url('../fonts/GraphikLCG/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-Regular.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-Regular.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-BoldItalic.eot');
    src: local('Graphik LCG Bold Italic'), local('GraphikLCG-BoldItalic'),
        url('../fonts/GraphikLCG/GraphikLCG-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-BoldItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-BoldItalic.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-LightItalic.eot');
    src: local('Graphik LCG Light Italic'), local('GraphikLCG-LightItalic'),
        url('../fonts/GraphikLCG/GraphikLCG-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-LightItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-LightItalic.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-BlackItalic.eot');
    src: local('Graphik LCG Black Italic'), local('GraphikLCG-BlackItalic'),
        url('../fonts/GraphikLCG/GraphikLCG-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-BlackItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-BlackItalic.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-Medium.eot');
    src: local('Graphik LCG Medium'), local('GraphikLCG-Medium'),
        url('../fonts/GraphikLCG/GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-Medium.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-Medium.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-Light.eot');
    src: local('Graphik LCG Light'), local('GraphikLCG-Light'),
        url('../fonts/GraphikLCG/GraphikLCG-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-Light.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-Light.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-Semibold.eot');
    src: local('Graphik LCG Semibold'), local('GraphikLCG-Semibold'),
        url('../fonts/GraphikLCG/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-Semibold.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-Semibold.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-Bold.eot');
    src: local('Graphik LCG Bold'), local('GraphikLCG-Bold'),
        url('../fonts/GraphikLCG/GraphikLCG-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-Bold.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-Bold.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-Extralight.eot');
    src: local('Graphik LCG Extralight'), local('GraphikLCG-Extralight'),
        url('../fonts/GraphikLCG/GraphikLCG-Extralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-Extralight.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-Extralight.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-ThinItalic.eot');
    src: local('Graphik LCG Thin Italic'), local('GraphikLCG-ThinItalic'),
        url('../fonts/GraphikLCG/GraphikLCG-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-ThinItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-ThinItalic.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG/GraphikLCG-RegularItalic.eot');
    src: local('Graphik LCG Regular Italic'), local('GraphikLCG-RegularItalic'),
        url('../fonts/GraphikLCG/GraphikLCG-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG/GraphikLCG-RegularItalic.woff2') format('woff2'),
        url('../fonts/GraphikLCG/GraphikLCG-RegularItalic.woff') format('woff'),
        url('../fonts/GraphikLCG/GraphikLCG-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

