@font-face {
  font-family: 'Quantico';
  src: local('Quantico'), url('../f/Quantico-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish'),
      url('../f/Mulish-VariableFont_wght.ttf') format('truetype');
}