@import './_mixins';


.our-products {
  display: grid;
  grid-template-columns: minmax(auto, 516px) auto 1fr;
  gap: 30px;
  @include media-down($screen-lg) {
    grid-template-columns: minmax(auto, 338px) auto 1fr;
  }
  @include media-down($screen-md) {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
  }
  &__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    @include media-down($screen-lg) {
      font-size: 24px;
    }
    @include media-down($screen-md) {
      font-size: 20px;
    }
  }
  &__arrow {
    --square: 135px;
    width: var(--square);
    height: var(--square);
    @include media-down($screen-lg) {
      --square: 104px;
    }
    @include media-down($screen-md) {
      transform: rotate(230deg) scaleX(-100%);
      order: 4;
      margin: 0 auto;
    }
  }
  &__button-title {
    margin-bottom: 32px;
    font-size: 20px;
    @include media-down($screen-lg) {
      font-size: 16px;
    }
    @include media-down($screen-md) {
      margin-bottom: 24px;
    }
  }
  &__button {
    justify-content: center;
    text-transform: uppercase;
  }
}

.products {
  @include media-up($screen-md) {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(246px, auto);;

  }
  @include media-up($screen-lg) {
    grid-auto-rows: minmax(264px, auto);;

  }
  .panel__content {
    gap: 24px;
  }
  &__top,
  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
  }
  &__top {
    @include media-down($screen-md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    padding: 12px 24px;
    border: 1px solid var(--color-black);
    @include media-down($screen-lg) {
      font-size: 20px;
    }

    $products-colors:("red","blue","green","yellow");
    @each $val in $products-colors {
      &--#{$val} {
        border-color: var(--color-#{$val});
        box-shadow: 4px 4px 0px 0px var(--color-#{$val})
      }
    }
  }
  &__item--red {
    .products__price,
    .products__text {
      color: var(--color-red);
    }
  }
  &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    @include media-down($screen-lg) {
      font-size: 20px;
    }
  }
  &__text {
    font-size: 16px;
    margin-top: auto;
  }
  &__logo {
    width: 116px;
    @include media-down($screen-lg) {
      width: 95px;
    }
  }
}

.callback-panel {
  margin-top: 56px;
}