@import './_mixins';

.our-products + .swiper {
  margin-top: 76px;
  @include media-down($screen-md) {
    margin-top: 20px;
  }
}

.our-products {
  display: grid;
  grid-template-columns: minmax(auto, 516px) auto 1fr;
  gap: 30px;
  @include media-down($screen-lg) {
    grid-template-columns: minmax(auto, 338px) auto 1fr;
  }
  @include media-down($screen-md) {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
  }
  &__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    @include media-down($screen-lg) {
      font-size: 24px;
    }
    @include media-down($screen-md) {
      font-size: 20px;
    }
  }
  &__arrow {
    --square: 135px;
    width: var(--square);
    height: var(--square);
    @include media-down($screen-lg) {
      --square: 104px;
    }
    @include media-down($screen-md) {
      transform: rotate(230deg) scaleX(-100%);
      order: 4;
      margin: 0 auto;
    }
  }
  &__button-title {
    margin-bottom: 32px;
    font-size: 20px;
    @include media-down($screen-lg) {
      font-size: 16px;
      line-height: 26px;
    }
    @include media-down($screen-md) {
      margin-bottom: 24px;
    }
  }
  &__button {
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
  }
}

.products {
  @include media-up($screen-md) {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(192px, auto);

  }
  @include media-up($screen-lg) {
    grid-auto-rows: minmax(224px, auto);
  }
  &--small {
    display: grid;
    @include media-down($screen-md) {
      grid-auto-rows: minmax(157px, auto);
      gap: 12px;
    }
    @include media-up($screen-md) {
      grid-auto-rows: minmax(168px, auto);
    }
    @include media-up($screen-lg) {
      grid-auto-rows: minmax(216px, auto);
    }
  }
  .panel__content {
    gap: 24px;
    @include media-down($screen-md) {
      gap: 8px;
    }
  }
  &__top,
  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  &__top {
    @include media-down($screen-md) {
      flex-wrap: wrap;
    }
    @include media-down($screen-md) {
      flex-direction: column;
      align-items: flex-start;
    }
    & + .products__bottom {
      margin-top: auto;
      @include media-up($screen-md) {
        flex-wrap: nowrap;
      }
    }
  }
  &__bottom {
    align-items: flex-end;
    overflow: hidden;
    flex-wrap: wrap;
    .panel__link + .products__price {
      margin-top: 8px;
    }
  }
  &__title,
  &__name {
    font-size: 24px;
    font-weight: 600;
    @include media-down($screen-lg) {
      font-size: 20px;
    }
  }
  &__title {
    max-width: 482px;
  }
  &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    white-space: nowrap;
    @include media-down($screen-lg) {
      font-size: 20px;
    }
  }
  &__text {
    font-size: 16px;
    flex: 1;
  }
  &__logo {
    max-width: 116px;
    max-height: 62px;
    @include media-down($screen-lg) {
      max-width: 95px;
      max-height: 39px;
    }
  }
  &__item.products__item--cross {
    &:nth-child(4n - 3), &:nth-child(4n - 4) {
      .panel__content {
        background: url('../img/panel-zeta_white.svg') right var(--panel-content-padding) bottom var(--panel-content-padding) no-repeat;
      }
      background-color: var(--color-black);
      color: var(--color-white, #fff);
      
    }
    &:nth-child(4n - 2), &:nth-child(4n - 1) {
      .panel__content {
        background: url('../img/panel-zeta.svg') right var(--panel-content-padding) bottom var(--panel-content-padding) no-repeat;
      }
      background-color: var(--color-white, #fff);
      color: var(--color-black);
    }
  }
  &__item.products__item--zeta .panel__content {
    background: url('../img/panel-zeta.svg') right var(--panel-content-padding) bottom var(--panel-content-padding) no-repeat;
  }
  &__item.products__item--1с .panel__content {
    background: url('../img/panel-1c.svg') right var(--panel-content-padding) bottom var(--panel-content-padding) no-repeat;
  }
}

.button-panel {
  margin-top: 56px;
}