@import './_mixins';

.disclaimer {
  font-weight: 500;
  line-height: 130%;
}

.services1c {
  @include media-up($screen-md) {
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    //grid-template-rows: repeat(2, 1fr);
    gap: 24px;
  }
  @include media-down($screen-lg) {
    gap: 20px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    @include media-up($screen-md) {
      min-height: 828px;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 20px;
    @include media-down($screen-lg) {
      font-size: 20px;
    }
    @include media-down($screen-md) {
      flex-direction: column;
      gap: 12px;
    }
  }
  &__price {
    font-weight: 700;
  }
  &__info,
  &__list,
  &__tip {
    margin-bottom: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  &__info {
    @include media-down($screen-md) {
      overflow: auto;
    }
  }
  &__tip {
    border: 1px solid var(--color-black);
    background-color: var(--color-grey);
    padding: 24px;
  }
  &__order-button {
    margin-top: auto;
    width: 100%;
  }
  //&__list,
  &__tip {
    @include media-down($screen-md) {
      display: none !important;
    }
  }
  &__info-panel {
    height: 100%;
  }
}

.services {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  @include media-down($screen-md) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 56px;
  }
  .panel {
    @include media-up($screen-md) {
      height: 190px;
    }
    @include media-down($screen-md) {
      height: 132px;
    }
    &__text {
      margin-top: auto;
    }
  }
}

.section--two-cols .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @include media-down($screen-md) {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .section__col {
    display: flex;
    flex-direction: column;
    & > .section__title {
      border: unset;
    }
  }
  .section__image {
    margin-top: auto;
    --size: 476px;
    height: var(--size);
    width: var(--size);
    @include media-down($screen-md) {
      --size: 371px;
    }
    @include media-down($screen-md) {
      display: none;
    }
  }
}