@import './_mixins';

.disclaimer {
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 72px;
}

.services1c {
  @include media-up($screen-md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
  }
  @include media-down($screen-lg) {
    gap: 20px;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 20px;
    @include media-down($screen-lg) {
      font-size: 20px;
    }
    @include media-down($screen-md) {
      flex-direction: column;
      gap: 12px;
    }
  }
  &__price {
    font-weight: 700;
  }
  &__info,
  &__list,
  &__tip {
    margin-bottom: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  &__info {
    @include media-down($screen-md) {
      overflow: auto;
    }
  }
  &__tip {
    border: 1px solid var(--color-black);
    background-color: var(--color-grey);
    padding: 24px;
  }
  &__order-button {
    margin-top: auto;
    width: 100%;
  }
  &__list,
  &__tip {
    @include media-down($screen-md) {
      display: none !important;
    }
  }
}

.services {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  @include media-down($screen-md) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 56px;
  }
  .panel {
    @include media-up($screen-md) {
      height: 190px;
    }
    @include media-down($screen-md) {
      height: 132px;
    }
    &__text {
      margin-top: auto;
    }
  }
}

.section--two-cols .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @include media-down($screen-md) {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .section__col {
    display: flex;
    flex-direction: column;
    & > .section__title {
      border: unset;
    }
  }
  .section__image {
    margin-top: auto;
    --size: 476px;
    height: var(--size);
    width: var(--size);
    @include media-down($screen-md) {
      --size: 371px;
    }
    @include media-down($screen-md) {
      display: none;
    }
  }
}

.diffs {
  display: grid;
  --block-height: 200px;
  grid-template-rows: var(--block-height) var(--block-height) calc(var(--block-height) * 2);
  gap: 24px;
  @include media-down($screen-lg) {
    --block-height: 168px;
  }
  @include media-down($screen-md) {
    --block-height: 212px;
  }
  &__item {
    --image-pos: 32px;
    background-repeat: no-repeat;
    background-position: right var(--image-pos) top var(--image-pos);
    .panel__title {
      padding-right: 66px;
    }
    @include media-down($screen-lg) {
      --image-pos: 20px;
    }

    &:nth-child(1) {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none"><rect x="31" y="31" width="24" height="24" rx="1" fill="%23231F20" stroke="%23231F20" stroke-width="2"/><rect x="1" y="31" width="24" height="24" rx="1" fill="%23231F20" stroke="%23231F20" stroke-width="2"/><rect x="1" y="1" width="24" height="24" rx="1" fill="%2300ABEA" stroke="%23231F20" stroke-width="2"/></svg>');
    }
    &:nth-child(2) {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none"><rect x="31" y="31" width="24" height="24" rx="1" fill="%23231F20" stroke="%23231F20" stroke-width="2"/><rect x="31" y="1" width="24" height="24" rx="1" fill="%2300ABEA" stroke="%23231F20" stroke-width="2"/><rect x="1" y="1" width="24" height="24" rx="1" fill="%2300ABEA" stroke="%23231F20" stroke-width="2"/></svg>');
    }
    &:nth-child(3) {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none"><rect x="31" y="31" width="24" height="24" rx="1" fill="%23231F20" stroke="%23231F20" stroke-width="2"/><rect x="1" y="31" width="24" height="24" rx="1" fill="white" stroke="%23231F20" stroke-width="2"/><rect x="31" y="1" width="24" height="24" rx="1" fill="%23231F20" stroke="%23231F20" stroke-width="2"/><rect x="1" y="1" width="24" height="24" rx="1" fill="%23231F20" stroke="%23231F20" stroke-width="2"/></svg>');
    }
  }
}

.stages {
  display: grid;
  grid-auto-rows: minmax(296px, auto);
  grid-template-columns: repeat(6, 1fr);
  gap: 22px;
  counter-reset: section;
  margin-bottom: 72px;
  @include media-down($screen-lg) {
    grid-auto-rows: minmax(264px, auto);
    gap: 18px;
    margin-bottom: 56px;

  }
  @include media-down($screen-md) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item {
    grid-column: span 2; /* Занимает ширину в две колонки */
  }
  &__item:nth-child(5) {
    grid-column: span 4; /* Занимает ширину в две колонки */
    .stages__item-number {
      background-color: #fff;
    }
    .panel {
      transition: background-color var(--animation-duration);
      &::before {
        background-color: #fff;
      }
      &:hover {
        color: var(--color-black);
      }
    }
    
    @include media-down($screen-md) {
      .panel {
        min-height: 480px;
      }
    }
  }
  &__item:nth-child(6), 
  &__item:nth-child(7) {
    grid-column: span 3; /* Занимает ширину в две колонки */
  }
  &__item-number {
    --square: 80px;
    line-height: var(--square);
    width: var(--square);
    height: var(--square);
    text-align: center;
    font-family: 'Quantico', sans-serif;
    color: var(--color-black);
    background-color: var(--color-yellow);
    font-size: 64px;
    @include media-down($screen-lg) {
      --square: 64px;
      font-size: 56px;
    }
    &::before {
      counter-increment: section;
      content: counter(section);
    }
  }
  .panel {
    height: 100%;
    &::before {
      content: '';
      position: absolute;
      height: 80px;
      width: 80px;
      right: var(--panel-content-padding);
      top: var(--panel-content-padding);
      background-color: var(--color-yellow);
      transition-duration: var(--animation-slow-duration);
      @include media-down($screen-lg) {
        height: 64px;
        width: 64px;
      }

    }
    &:hover::before {
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
    }
  }
  .panel__title {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.pricing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include media-down($screen-md) {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  &__item {
    border: 0;
    outline: 1px solid var(--color-black);
    min-height: 336px;
    @include media-down($screen-md) {
      min-height: 256px;
    }
  }
}

.business-tips {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(168px, auto));
  margin-top: 56px;
  @include media-down($screen-lg) {
    grid-template-rows: repeat(2, minmax(128px, auto));
  }
  @include media-down($screen-md) {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-auto-rows: 172px;
  }
  .panel {
    border: 0;
    outline: 1px solid var(--color-black);
  }
  .panel__text {
    @include media-up($screen-lg) {
      font-size: 24px;
    }
  }
  .panel__title,
  .panel__text {
    max-width: 460px;
    @include media-between($screen-sm, $screen-lg) {
      max-width: 328px;
    }

  }

}