@import './reset';
@import './_mixins';
@import './_header';
@import './_footer';
@import url('./fonts.css');

html {
  font-size: 20px;
  font-family: 'Graphik LCG', sans-serif;
  color: #000;
}
:root {
  --dark-color: #2A3545;
  --red-color: #F34235;
  --aqua-color: #00BBD3;
  --blue-color: #2095F2;
  --yellow-color: #FFCC00;

  --footer-height: 616px;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: underline;
	}
}

img {
  max-width: 100%;
  max-height: 100%;
}

.hidden {
  display: none;
}

.wrapper {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 40px;
  @include media-down(600) {
    padding: 0 20px;
  }
}

.main {
  min-height: calc(100vh - var(--footer-height));
}

button,
a.button {
  background: var(--red-color);
  border-radius: 10px;
  padding: 20px 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: #fff;
  white-space: nowrap;
  display: inline-block;
  &--transparent {
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 9px 17px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    background: none;
  }
  &--second {
    background-color: #273140;
    font-size: 35px;
    line-height: 35px;
  }
}

.section {
  min-height: 630px;
  margin: 120px 0 160px;
  &__info {
    width: 100%;
    max-width: 800px;
  }
  &__title {
    font-size: 90px;
    line-height: 90px;
    margin-bottom: 30px;
  }
  h1.section__title {
    font-size: 96px;
    line-height: 96px;
  }
  &__subtitle {
    font-size: 46px;
    line-height: 130%;
    color: var(--dark-color);
    margin-bottom: 50px;
  }
  &__text {
    max-width: 1234px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 150%;
  }
  &__title-text {
    display: flex;
    align-items: center;
    gap: 50px;
    .section__title {
      flex: 1 0 61%;
    }
  }
  &__center {
    text-align: center;
  }
  &__block {
    margin-top: 50px;
  }
  &__rotated-title {
    display: inline-block;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: var(--red-color);
    transform: rotate(-11.43deg);
    margin-bottom: 20px;
  }
  &--dark {
    color: #fff;
    padding: 110px 10px 110px 0;
    background-color: #273140;
    border-radius: 0px 365px 30px 30px;
  }
  &--presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    .section__info {
      flex: 1;
      max-width: calc(50% - 25px);
      min-width: 660px;
    }
    .section__text {
      max-width: 600px;
    }
    .section__image {
      flex: 1;
      max-width: calc(50% - 25px);
      min-width: 200px;
    }
  }
}
