@import './reset';
@import './_mixins';
@import './_header';
@import './_footer';
@import url('./fonts.css');

html {
  font-size: 20px;
  font-family: 'Graphik LCG', sans-serif;
  color: #000;
}
:root {
  --var: #fff;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: underline;
	}
}

img {
  max-width: 100%;
  max-height: 100%;
}

.hidden {
  display: none;
}

