@import './reset';
@import './_mixins';
@import './_icons';
@import './_header';
@import './_footer';
@import './_anchors';
@import './fonts';
@import './components/_components';
@import 'styles';
@import 'about';
@import 'blog-item';
@import 'blog';
@import 'case';
@import 'cases';
@import 'competitions';
@import 'dashboard';
@import 'index';
@import 'products';
@import 'product';
@import 'reg';
@import 'services';
@import 'services1c';
@import 'swiper';
@import 'vacancies';
@import 'vacancy';

.hidden {
  display: none;
}

.product-page {
  min-height: 648px;
  @include media-down($screen-lg) {
    min-height: 461px;
  }
  @include media-down($screen-md) {
    min-height: unset;
  }
  a:not(.panel) {
    color: #fff;
    transition-duration: var(--animation-duration);
    &:hover {
      color: var(--color-yellow);
    }
  }
  .wrapper {
    display: grid;
    gap: 25px;
    grid-template-columns: minmax(auto, 706px) 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "title taglist"
      "subtitle taglist"
      "linklist linklist";
    @include media-down($screen-md) {
      grid-template-areas: 
        "title"
        "subtitle"
        "linklist"
        "taglist"
    }
  }
  &__title {
    grid-area: title;
    font-size: 48px;
    font-weight: 600;
    line-height: 130%;
    color: #fff;
    margin-bottom: 24px;
    max-width: 836px;
    width: 100%;
    @include media-down($screen-lg) {
      font-size: 40px;
      margin-bottom: 20px;

    }
    @include media-down($screen-md) {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }
  &__subtitle {
    grid-area: subtitle;
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    color: #fff;
    max-width: 836px;
    width: 100%;
    @include media-down($screen-lg) {
      font-size: 24px;
    }
    @include media-down($screen-md) {
      font-size: 16px;
    }
  }
  &__tags {
    grid-area: taglist;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
    overflow: auto;
    @include media-down($screen-md) {
      flex-direction: row;
      align-items: normal;
    }
  }
  &__tags-item {
    padding: 5px 12px;
    white-space: nowrap;
  }
  &__links {
    grid-area: linklist;
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 24px;
    @include media-down($screen-lg) {
      grid-gap: 16px;
    }
    @include media-down($screen-md) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    & > :nth-child(7) {
      grid-column: span 2;
      @include media-down($screen-md) {
        grid-column: unset;
      }
    }
  }
  &__links-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    @include media-down($screen-lg) {
      padding: 10px 16px;
    }
    &::after {
      content: '';
      display: block;
      height: 20px;
      width: 20px;
      background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 4.16797V15.8346" stroke="%23231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.8307 10L9.9974 15.8333L4.16406 10" stroke="%23231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') 50% 50% no-repeat;
    }
  }
  &__image {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
}

.web-services {
  $cols: 6;
  $cols-mobile: 2;
  display: grid;
  grid-template-columns: repeat(#{$cols}, 1fr);
  @include media-down($screen-md) {
    grid-template-columns: repeat(#{$cols-mobile}, 1fr);
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid black;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
    height: 152px;
    filter: grayscale(100%);
    transition: filter var(--animation-duration);
    font-size: 16px;
    @include media-down($screen-lg) {
      height: 109px;
      padding: 23px;
    }
    img {
      max-width: 160px;
      max-height: 54px;
      @include media-down($screen-lg) {
        max-width: 115px;
        max-height: 39px;
      }
    }
    &:hover {
      filter: grayscale(0);
    }

    &:not(:last-child) {
      border-right: none;
    }

    &:nth-child(#{$cols}n) {
      border-right: 1px solid black;
    }

    &:not(:nth-last-child(-n + #{$cols})) {
      border-bottom: none;
    }

    &:nth-last-child(-n + #{$cols}) {
      border-bottom: 1px solid black;
    }
    @include media-down($screen-md) {
      &:nth-child(#{$cols-mobile}n) {
        border-right: 1px solid black;
      }
  
      &:not(:nth-last-child(-n + #{$cols-mobile+1})) {
        border-bottom: none;
      }
  
    }
  }
}

.benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  @include media-down($screen-lg) {
    gap: 20px;
  }
  @include media-down($screen-md) {
    grid-template-columns: 1fr;
  }
  &__item {
    cursor: pointer;
    height: 216px;
    &:hover {
      background-color: var(--color-red);
    }
    @include media-down($screen-lg) {
      height: 168px;
    }
    @include media-down($screen-md) {
      height: auto;
    }
  }
}
  
.tariffs {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .products__title {
    white-space: normal;
  }
} 
