@import './reset';
@import './_mixins';
@import './_icons';
@import './_header';
@import './_footer';
@import './_anchors';
@import './fonts';
@import './components/_components';
@import 'styles';
@import 'about';
@import 'blog-item';
@import 'blog';
@import 'case';
@import 'cases';
@import 'competitions';
@import 'dashboard';
@import 'index';
@import 'products';
@import 'reg';
@import 'services';
@import 'services1c';
@import 'swiper';
@import 'vacancies';
@import 'vacancy';

.section--reg {
  background-color: var(--color-grey);
}

.reg-form {
  margin: 40px auto 0;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: stretch;
  padding: 60px 40px;
  box-sizing: content-box;
  &__tip {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  &__link {
    text-decoration: underline;
  }
  &__submit {
    width: 100%;
  }
} 