@import './reset';
@import './_mixins';
@import './_icons';
@import './_header';
@import './_footer';
@import './_anchors';
@import './fonts';
@import './components/_components';
@import 'about';
@import 'blog-item';
@import 'blog';
@import 'case';
@import 'cases';
@import 'competitions';
@import 'dashboard';
@import 'index';
@import 'products';
@import 'services';
@import 'services1c';
@import 'styles';
@import 'swiper';
@import 'vacancies';
@import 'vacancy';
