@import '../_mixins';

.checkbox {
  display: inline-block;
  position: relative;
  font-size: 16px;
  &__label {
    padding-right: 40px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    user-select: none;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

  &__label::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 32px;
    height: 20px;
    background-color: var(--color-black);
    border-radius: 12px;
    transition: background-color var(--animation-duration) ease;

  }

  &__label::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    transition: right var(--animation-duration) ease;
  }

  &__input:checked + .checkbox__label::after {
    right: 4px;
  }
  &__input:checked + .checkbox__label::before {
    background-color: var(--color-blue-dark);
  }
}